*{
    margin: 0;
    padding: 0;
}
.hero{
    background-color: burlywood;
    background: url("../img/persona.jpg") no-repeat;
}
.future{
    background-color: bisque;
}
.services{
    background-color: aquamarine;
}
.about{
    background-color: cadetblue;
}
.clients{
    background-color: coral;
}
.news{
    background-color: darkkhaki;
}
.talk{
    background-color: mediumseagreen;
}
.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit:cover;
    scroll-snap-align: center;
  }